@import url("https://fonts.googleapis.com/css2?family=Amarante&family=Barrio&family=Cabin:wght@500&family=Ewert&family=Fira+Code:wght@700&family=Metal+Mania&family=Roboto:wght@700&family=Sail&family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__player {
  margin-top: 1%;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.current__points {
  display: flex;
  flex-direction: column;
  padding: 2% 6%;
  border-radius: 1rem;
  background-color: rgb(209, 33, 101);
  text-align: center;
  color: white;
  margin-bottom: 2%;
}
.title__score {
  display: flex;
  flex-direction: column;
}
.player__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
.total__points {
  font-size: 2rem;
  color: rgb(209, 33, 101);
}
.current__title {
  font-size: 1.5rem;
}

.current__points {
  font-size: 1.5rem;
}
